<nav class="navbar navbar-light">
    <div class="container">
        <a class="navbar-brand mr-1" href="/">
            <img src="/assets/logo.png" height="22px" alt="logo">
        </a>

        <button onclick="displayMenu(event)" class="navbar-toggler d-xs-inline d-md-none" type="button"
            data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarSupportedContent">
            <form class="form-inline ml-auto mt-2 mb-1">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="search" aria-label="search"
                        aria-describedby="basic-addon1">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
                    </div>
                </div>
            </form>

            <ul class="navbar-nav mr-auto">
                <a href="/" class="list-group-item d-block text-muted px-0" style="border: 0 none;">
                    <i class="fas fa-home fa-fw"></i>
                    <span class="ml-1">Home</span>
                </a>

                <a href="https://github.com/wizath" class="list-group-item d-block text-muted px-0"
                    style="border: 0 none;">
                    <i class="fas fa-code-branch fa-fw"></i>
                    <span class="ml-1">Github</span>
                </a>

                <a href="#" class="list-group-item d-block text-muted px-0" style="border: 0 none;">
                    <i class="far fa-address-card fa-fw"></i>
                    <span class="ml-1">About</span>
                </a>
            </ul>
        </div>

        <form class="form-inline ml-auto my-0 d-none d-md-block">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="search" aria-label="search"
                    aria-describedby="basic-addon1">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
                </div>
            </div>
        </form>
    </div>
</nav>