<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>{{ site.title }}</title>
    <style>
        nav {
            border-bottom: 1px solid #e7e7e7;
            background-color: white;
        }

        .input-group-text {
            background-color: white;
            border-bottom-right-radius: .25rem !important;
            border-top-right-radius: .25rem !important;
            border-left-style: none;
        }

        .input-group {
            border-style: none !important;
        }

        footer {
            margin-bottom: 10px;
        }

        .content {
            min-height: calc(100vh - 176px);
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">

            <a class="navbar-brand" href="#">
                <img src="assets/logo.png" width="50%" alt="">
            </a>

            <form class="form-inline ml-auto my-0">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="search" aria-label="search"
                        aria-describedby="basic-addon1">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
                    </div>
                </div>
            </form>

        </div>
    </nav>

    <div class="content mt-5">
        <div class="container">
            <div class="row">
                <div class="sidebar col-md-2 mt-2">

                    <div class="sticky-top">

                        <div class="d-block links list-group">

                            <a href="#" class="list-group-item d-block text-muted" style="border: 0 none;">
                                <i class="fas fa-home fa-fw"></i>
                                <span class="ml-1">Home</span>
                            </a>

                            <a href="#" class="list-group-item d-block text-muted" style="border: 0 none;">
                                <i class="fas fa-hat-wizard fa-fw"></i>
                                <span class="ml-1">Projects</span>
                            </a>

                            <a href="#" class="list-group-item d-block text-muted" style="border: 0 none;">
                                <i class="fas fa-code-branch fa-fw"></i>
                                <span class="ml-1">Github</span>
                            </a>

                            <a href="#" class="list-group-item d-block text-muted" style="border: 0 none;">
                                <i class="far fa-address-card fa-fw"></i>
                                <span class="ml-1">About</span>
                            </a>
                        </div>
                    </div>

                </div>

                <div class="posts col-md-8">
                    {% for post in site.posts %}
                        <div class="post row d-block">
                            <div class="col-12">
                                <h2 class="post-title">{{ post.title }}</h2>
                                {% assign words = post.content | number_of_words %}
                                {% if words < 360 %}
                                    {% assign rt = 1 %}
                                {% else %}
                                    {% assign rt = words | divided_by:180 %}
                                {% endif %}
                                <span class="text-gray">@{{ post.user }} • {{ post.date | date_to_long_string }} • {{ rt }} minutes to read</span>
                                <div class="image my-2">
                                    <img class="img-fluid" src="assets/jumbo.png" width="740">
                                </div>
                                <p class="my-2">
                                    {{ post.excerpt }}
                                </p>
                                <button type="button" class="btn btn-outline-secondary float-right">View</button>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="row d-block">
                            <hr>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <footer class="mb-3">
        <hr />
        <div class="container">
            <p class="text-center my-0">© 2022 by wizlabs.pl</p>
        </div>
    </footer>
</body>
</html>